#content-header
  h1
    = title
#breadcrumb
  a(href="#", data-original-title="Go to Home").tip-bottom
    i.icon-home
    | Dashboard
.container-fluid
  .row-fluid
    .span12.center
      .row-fluid
        .span12#summary
      .row-fluid
        .span6#complaints
        .span6#actionpoints
                                
      .row-fluid
        .span6#leaguetable                                                                 
        .span6#latestcomplaints