li.reviewitem
  .row-fluid
    img(src=image)
    .review  
      .user
        = user_name 
       .location
        |  (
        if city
          = city
          | , 
        = country
        | )

      .reviewtext
        = review.substring(0,200)+"..."
      .date
        = new Date(date).toDateString()