ul.stat-boxes
  li
    div.left.good
      span.pietylinegood
        | 25,20,19,27,19,16,13
      | +3
    div.right
      strong
        | 13th
      | Hotel Rank
  li
    div.left.bad
      span.pietylinebad
        | 2,4,9,7,12,10,12
      | +11%
    div.right
      strong
        | 387
      | Complaints
  li
    div.left.good
      span.pietylinegood
        | 2,2,4,9,7,9,10,12
      | +5%
    div.right
      strong
        | 489
      | Compliments


