doctype 5
html
  head
    title= title
    meta(charset="UTF-8")
    link(rel='stylesheet', href='/css/vendor.css')
    link(rel='stylesheet', href='/css/style.css')

    link(href='http://fonts.googleapis.com/css?family=Trocchi|Open+Sans:400italic,400,600,700', rel='stylesheet', type='text/css')
  body
    #header
      h1
        a(href="/")
          i.ss-icon
            | dashboard
          |   Sentiment CP
    #user-nav.navbar.navbar-inverse
      ul.nav.btn-group
        li.btn.btn-inverse
          a(title="", href="#")
            i.ss-icon
              | cog
            span.text
              |  Settings
            
    #sidebar
      ul
        li#dashboardmenu
          a(href="/#")
            i.ss-icon
              | home
            span
              | Dashboard
        li#departmentmenu
          a(href="/#/departments")
            i.ss-icon
              | piechart
            span
             | Department Reports              
        li#actionpointsmenu
          a(href="/#/actionpoints")
            i.ss-icon
              | check
            span
              | Action Points
        li#leaguetablemenu
          a(href="/#/leaguetable")
            i.ss-icon
              | list
            span
              | League Table
        li#latestreviewssmenu
          a(href="/#/latestreviews")
            i.ss-icon
              | users
            span
              | Latest Reviews
    
    #content
    
    script(data-main="js/main", src="js/require.js")
    









