
@red: rgb(201,44,44);
@green: rgb(58,173,67);


html, html a {
    -webkit-font-smoothing: antialiased !important;
}

#map_canvas label { width: auto; display:inline; }
#map_canvas img { max-width: none; max-height: none; }

body {
  font-family: 'Open Sans', Helvetica, Sans-Serif;
}

ul.unstyledul {
  list-style: none;
  margin: 0px;
}

th.maincolumn {
  width: 70%;
}

.alert{
  margin-top: 10px;
}

#header h1 a {
  color: white;
  font-family: 'Trocchi', Sans-Serif;

  .ss-icon {
    position: relative;
    top: 1px;
    right: 1px;
    font-size: 17px;    
  }
}

.widget-title:hover {
  cursor:pointer;
}

#summary {
  .stat-boxes {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .stat-boxes .left {
    padding: 10px 14px 11px 4px;
  }
}

#complaints {
  
  .piewrapper {
    text-align: center;

    .pieelement {
      font-weight: bold;
      display: inline-block;
      background-color: #F5F5F5;
      border: 1px solid #DDDDDD;
      cursor: pointer;
      margin: 10px;
      padding: 10px;
      position: relative;
      width: 133px;
    
      .pietitle{
        margin-bottom: 10px;
      }
    }
  }   
}


#actionpoints {
  .alertrow {
    i {
      font-size: 14px;
      position:relative; 
      top: 1px;
      color: @red;
      margin: 1px 5px 0;
    }
  }

  td.change {
    color: @red;

    i {
      padding-left: 5px;
      position: relative;
      top: 1px;
    }
  }

  .label {
    padding: 5px;
  }
  .label-bad {
    background-color: @red;
  } 

  .btn {
    float: right;
  }
}


#leaguetable {

  .limitheight {
    height: 300px;
    overflow-y: scroll;
  }

  .leaguerow { 
    i {
      position: relative;
      top: 1px;
      padding-right: 5px;
      text-align: center;
      color:white;
    }

    .label {
      float: right;
      padding: 5px;
    }

    .label-good {
      background-color: @green;
    }
    .label-bad {
      background-color: @red;
    } 
    .label-none{
      display: none;
    }
  }

  .active {
    background-color: #F5F5F5;
    font-weight: 700;
  } 
}

#latestcomplaints {
  .reviewitem{
    img {
      float:left;
      padding-right: 15px;
    }
    .date {
      font-weight: bold;
      font-size: 12px;
    }
    .user {
      display: inline;
      font-size: 15px;
      font-weight: 600;

    }
    .location {
      display: inline;
      font-style: italic;

    }
  }
}

#sidebar ul li {
  -webkit-transition: all .2s ease-in;
}


#map_summary {
  .bar {
    background-color: @red;
    height: 7px;
    position: relative;
    top: 8px;
  }
  .table th, .table td {
    padding: 4px 10px;
  }
}


