html,
html a {
  -webkit-font-smoothing: antialiased !important;
}
body {
  font-family: 'Open Sans', Helvetica, Sans-Serif;
}
ul.unstyledul {
  list-style: none;
  margin: 0px;
}
th.maincolumn {
  width: 70%;
}
.alert {
  margin-top: 10px;
}
#header h1 a {
  color: white;
  font-family: 'Trocchi', Sans-Serif;
}
#header h1 a .ss-icon {
  position: relative;
  top: 1px;
  right: 1px;
  font-size: 17px;
}
.widget-title:hover {
  cursor: pointer;
}
#summary .stat-boxes {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#summary .stat-boxes .left {
  padding: 10px 14px 11px 4px;
}
#complaints .piewrapper {
  text-align: center;
}
#complaints .piewrapper .pieelement {
  font-weight: bold;
  display: inline-block;
  background-color: #F5F5F5;
  border: 1px solid #DDDDDD;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  position: relative;
  width: 133px;
}
#complaints .piewrapper .pieelement .pietitle {
  margin-bottom: 10px;
}
#actionpoints .alertrow i {
  font-size: 14px;
  position: relative;
  top: 1px;
  color: #c92c2c;
  margin: 1px 5px 0;
}
#actionpoints td.change {
  color: #c92c2c;
}
#actionpoints td.change i {
  padding-left: 5px;
  position: relative;
  top: 1px;
}
#actionpoints .label {
  padding: 5px;
}
#actionpoints .label-bad {
  background-color: #c92c2c;
}
#actionpoints .btn {
  float: right;
}
#leaguetable .limitheight {
  height: 300px;
  overflow-y: scroll;
}
#leaguetable .leaguerow i {
  position: relative;
  top: 1px;
  padding-right: 5px;
  text-align: center;
  color: white;
}
#leaguetable .leaguerow .label {
  float: right;
  padding: 5px;
}
#leaguetable .leaguerow .label-good {
  background-color: #3aad43;
}
#leaguetable .leaguerow .label-bad {
  background-color: #c92c2c;
}
#leaguetable .leaguerow .label-none {
  display: none;
}
#leaguetable .active {
  background-color: #F5F5F5;
  font-weight: 700;
}
#latestcomplaints .reviewitem img {
  float: left;
  padding-right: 15px;
}
#latestcomplaints .reviewitem .date {
  font-weight: bold;
  font-size: 12px;
}
#latestcomplaints .reviewitem .user {
  display: inline;
  font-size: 15px;
  font-weight: 600;
}
#latestcomplaints .reviewitem .location {
  display: inline;
  font-style: italic;
}
#sidebar ul li {
  -webkit-transition: all 0.2s ease-in;
}
