#content-header
  h1
    = title
#breadcrumb
  a(href="#", data-original-title="Go to Home").tip-bottom
    i.icon-home
    | Dashboard
  a(href="/#/leaguetable", data-original-title="League Table").tip-bottom
    i.ss-icon
      | list
    | League Table
.container-fluid
  .row-fluid
    .span12.center#map

