#content-header
  h1
    = title
#breadcrumb
  a(href="#", data-original-title="Go to Home").tip-bottom
    i.icon-home
    | Dashboard
  a(href="/#/actionpoints", data-original-title="Action Points").tip-bottom
    i.ss-icon
      | check
    | Action Points
.container-fluid#actionpoints
  .alert
    button.close(type="button", data-dismiss="alert") ×
    strong
      | Warning!
    |  Data changes not saved to server (refresh to reset).
  .row-fluid
    .span12.center#unreadactionpoints   
  .row-fluid
    .span12.center#readactionpoints
