if active
  tr.leaguerow.active
    td 
      i.ss-icon(class=color)
        = icon
      = position
    td 
      = name
    td 
      = score
else
  tr.leaguerow
    td 
      i.ss-icon(class=color)
        = icon
      = position
    td 
      = name
    td 
      = score